.footer {
  background-color: rgb(205, 205, 205);
  width: 100%;
}

.footer img {
  height: 1em;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer a:hover {
  color: grey;
}

.footer-text {
  font-size: 1.5rem;
}