
body {
  background-image: url('../assets/Login.png');
  background-size: cover;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-right: 5em;
  background-image: url("../assets/rectangle.png");
  background-position: right;
  background-repeat:repeat-y;
  background-size: 40vw 100;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Login form box */
.login-form {
  padding: 30px;
  border-radius: 8px;
  max-width: 350px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85); /* optional: semi-transparent white bg */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Input fields */
.input-group {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #242527;
  outline: none;
}

/* Auth button */
.auth-btn {
  width: 100%;
  padding: 12px;
  background-color: #4b5056;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.auth-btn:hover {
  background-color: #474b4f;
}

/* Register link */
.link {
  color: #454647;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .login-container {
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    padding: 20px;
    text-align: center;
  }

  .login-form {
    width: 90%;
    max-width: 350px;
  }
}

