.navbar {
  background-color: #444545;
  font-size: 1.15em;
}

.navbar-brand img {
  height: 10vh;
}

.navbar-collapse .profile-photo {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-collapse img {
  height: 7vh;
}

@media (max-width: 575px) {
  .nav-item-border {
    border-top: 1px solid #666;
    width: 100%;
    text-align: center;
  }
}
