.podium-container {
  border-radius: 2em;
  min-height: 30em;
  position: relative;
}

.podium-container h1 {
  font-weight: 700;
}

.podium-container .card-container {
  height: 20em;
  max-width: 35em;
  width: 100%;
  border-radius: 2em;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.podium-container .card-container .card {
  width: 80%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: none;
}

.podium-container .card-image-container {
  height: 200px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
  position: relative;
}

.podium-container .card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.podium-container .card-content {
  padding: 1em !important;
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  overflow-y: auto;
  max-height: none !important;
}

.podium-container .category-badge {
  margin-bottom: 0.5em;
  color: black;
}

.podium-container .heading {
  margin-bottom: 0.5em;
}

.podium-container .description {
  margin-bottom: 0.5em;
  flex-grow: 1;
  
}

.podium-container .left-button {
  position: absolute;
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  z-index: 10;
}

.podium-container .right-button {
  position: absolute;
  right: -120px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  z-index: 10;
}

.podium-container .left-button img,
.podium-container .right-button img {
  height: 2.5em;
  width: auto;
}

@media (max-width: 768px) {
  .podium-container .card-container {
    max-width: 90%;
    height: 18em;
  }
  
  .podium-container .left-button {
    left: -40px;
  }
  
  .podium-container .right-button {
    right: -40px;
  }
}
